@model IEnumerable<CaptainCharisma.Models.Project>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


Hi projects

<p>@Html.ActionLink("show project", "GetProject")</p>