@model IEnumerable<CaptainCharisma.Models.GitHubRepo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>These are the top 3 starred repositories in my Github account! Take a look, you'll be amazed!</h4>
<hr />

<ul>
    @foreach (var project in Model)
    {
        <li class="repo">
            <a href="@project.html_url">@Html.DisplayFor(modelItem => project.name)</a>
        </li>
    }
</ul>