@model IEnumerable<CaptainCharisma.Models.GitHubRepo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Hi project

<h2>All Messages</h2>
<hr />
@*
    @Model.html_url
*@
<ul>
    @foreach (var project in Model)
    {
        <li>
            <ul>
                console.log(model);
                <li>@Html.DisplayFor(modelItem => project.html_url)</li>
             </ul>
        </li>
    }
</ul>