@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>My journey into programming.</h3>

<br />
<br />
<p>
    After a lot of time thinking and planning I decided to quit my job of 13 years. I took out a loan, enrolled at the programming bootcamp Epicodus, and dedicate myself to becomming a programmer. This is a huge risk, I threw away my current stability, and put all my hopes and dreams on the line that I could make it work.
    <br />
    <br />
    I turned 40 this last April. If I'm going to start a family, it's now or never. I needed to make a plan for my future. I had an ok good job. It payed $55 year, but that's not family sized money. So, what do I like doing, what skills do I have, and how do I leverage those so I can support a family?
    <br />
    <br />
    I like creating things, I like being able to say, "I made that!" I do some landscape photography, I'm learning Classical guitar, I make porcelean figurines. I have a mini side business where I bake cheesecakes. Last year I spent 74 days building a fence around a property I own. Building, creating, and being artistic is something I get a lot of enjoyment out of. I wanted to incorperate that into my new carere. The projects at epicodus have been that creative outlet. Even just getting a button to to fill out a form, or display a picture is like, "OMG, did you see what I just did? That's awesome!". It's a small accomplishment, but I created something, where before there was nothing, and it works! The day is filled with mini high-five moments. That make programming fun.
    <br />
    <br />
    I'm also organized and detail oriented. At least I thought so, until typos caused most of my coding errors! I remember building the PingPong/FizzBuzz for the first time. We had been shown the basic tools we would need to solve this in class, For Loops, If Statments, and the modulo operator, but we had to figure out how to put them together. Sitting down and brainstorming how to solve the math, then how to get the data, then how to run data with the math, then print to the screen? That's the intilectual challenge, the problem solving. That's what make Back End programing rewarding.
    <br />
    <br />
    I will be a programmer. It's only a matter of time. From my manufacturing back ground, I have a midset of continuous improvment. You can't go to the gym for a month and get a "beach body". It takes time and then maintenance, you're never done. You can't learn a musical instument in a month. It takes years of practice. There is no magical day where I can say "I have learned enough, I am now a programmer". The coding problems are just going to get more complex. The learning is never over.


</p>

@*
    Effencey and continuous improvment are passions of mine. I get this from my 12 years background in manufacturing. Making systems faster, more user friendly, routing materials to the right place at the right time, then redoing it and making it better, now thats just fun. I once made a Kanban system that effiently pulled work materials throught my department using plactic cards. My company used it for years until it became automated.


    When I do dishes, the silverware is all organized by types in their respective holders. This isn't compulsive, it's intentional. It came from an exersice in effency and problem solveing that I was apart of. From there I adopted the idea, and now for effienciey, the sivlerware is sorted at loading instead of unlaoding. A friend once asked how do you keep all your cubboards so organized.

*@