@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>My journey into programming.</h3>
<br />
<br />
<p>
    After a lot of time thinking and planning, I decided to quit my job of 13 years. I took out a loan, enrolled at the programming bootcamp Epicodus, and dedicate myself to becoming a programmer. This is a huge risk; I threw away my current stability, and put all my hopes and dreams on the line, thinking that I could make it work. 
    <br />
    <br />
    I turned 40 this last April. If I'm going to start a family, it's now or never. I needed to make a plan for my future. I had an ok good job. It payed $55 year, but that's not family sized money. So, I asked myself what do I like doing, what skills do I have, and how do I leverage those so I can support a family? 
    <br />
    <br />
    I like creating things, I like being able to say, "I made that!" I do some landscape photography, I'm learning Classical guitar, I make porcelain figurines. I have a mini side business where I bake cheesecakes. Last year I spent 74 days building a fence around a property I own. Building, creating, and being artistic are things I get a lot of enjoyment out of. I wanted to incorporate that into my new career. The projects at Epicodus have been that creative outlet. Even just getting a button to fill out a form, or display a picture is like, "OMG, did you see what I just did? That's awesome!". It's a small accomplishment, but I created something, where before there was nothing, and it works! The day is filled with mini high-five moments. That makes programming fun. 
    <br />
    <br />
    I like using my brain, I’m organized, and detail oriented. Or at least I thought so, until typos caused most of my coding nightmares (and I really do have nightmares about coding now)! I remember building the PingPong/FizzBuzz program for the first time. We had been shown the basic tools we would need to solve this in class, For Loops, If Statements, and the modulo operator, but we had to figure out how to put them together. Sitting down and brainstorming how to solve the math, then how to get the data, then how to run data with the math, and then print to the screen? That's the intellectual challenge, the problem solving. That's what make Back End programing rewarding. 
    <br />
    <br />
    I will be a programmer. Maybe not right out of school, but it's only a matter of time. From my manufacturing back ground, I have a mindset of continuous improvement. You can't crash to the gym for a day and get a "beach body". It takes time, and then maintenance. You can't learn a musical instrument in a month. It takes years of practice. You have to play the long game to achieve your goals. There is no magical day where I can say "I have conquered programming;  there is nothing left to learn". I think a career in programming is going to be one of never ending learning and problem solving. As I solve one, the coding problems are just going to get more complex. It’s iterative, you build on prior success, but there is always more to learn.
    <br />
    <br />
    Darwin E. Smith said of his tenure as chief executive at Kimberly-Clark: "I never stopped trying to become qualified for the job." That I think, is programming.
</p>
