@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Hello, welcome to my personal wep page!</h4>
<br />
<p>
    It's still under construction, but you can check out a small bio about my decision to become a programmer by clicking the About Me link. You can also check out my current top three github repositories by clicking My Projects.
</p>